<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h3>Detail /// <a href="/list">전체보기</a></h3>
    id : {{dto.idx}} <br/>
    hit : {{dto.hit}} <br/>
    title : {{dto.title}} <br/>
    writer : {{dto.writer}}  <br/>
    content : {{dto.content}} <br/>
    date : {{dto.post_date}} <br/>
    file : {{dto.filename}} <br/> 

    <a href="/update_form/{{dto.idx}}">수정</a>
    <a href="/delete/{{dto.idx}}">삭제</a>

    <br/><br/>
    <h4> Comment</h4>
    <form action ="/comment_insert/" method = "post">
        <input type="hidden" name="idx" value="{{dto.idx}}"/>
        <textarea name="content" rows ="5" cols="50" placeholder="Comment Insert"></textarea>
        <button type="submit">댓글전송</button>
    </form>
    <hr/>
    {% for comment in commentList %}
    {{comment.writer}} // {{comment.post_date}} // {{comment.content}} <br/>
    {% endfor %}
</body>
</html>