{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
</head>
<body>
    <h3> LIST ({{boardCount}})
        //  <a href="/write_form"> Insert </a>
        //  <a href="{% url 'write'%}">추가(name 사용)</a>
    </h3>
    <form action="/list">
        <select name="filed">
            <option value="title">기록</option>
            <option value="writer">작성자</option>
            <option value="content">내용</option>
            <option value="all">제목+작성자+내용</option>
        </select>
        <input type="text" name="word" placeholder="Search" />
        <button type="submit"> 검색</button>
    </form>

    <table border="1">
        <thead>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>첨부파일</th>
            <th>파일이미지</th>
            <th>다운로드</th>
        </thead>
        <tbody>
            {% for board in boardList %}
            <tr>
                <td>{{ board.idx }}</td>
                <td><a href="/detail_idx?idx={{board.idx}}">{{ board.title }}</a>
                  //<a href="/detail/{{board.idx}}" >{{board.title}}</a>
                </td>
                <td>{{ board.writer }}</td>
                <td>{{ board.post_date }}</td>
                <td>{{ board.hit }}</td>
                <td>{{ board.filename }}</td>
                <td>
                    {% if board.filesize > 0 %}
                    <span class="_imgs" data-url="/download_count?idx={{board.idx}}">
                        <img src="{% static 'images/file.jpg' %}">    
                    </span>
                    {% endif %}
                </td>
                <td class="downCount">{{board.down }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>

        const imgs = document.querySelectorAll("._imgs")
        imgs.forEach(function(img){
            img.addEventListener('click', function(){
                const url = this.getAttribute('data-url')
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    this.parentElement.parentElement.querySelector(".downCount").textContent = data.count
                    location.href="/download?idx="+data.idx
                })
            })
        })

        // 아이작 사용
        // $("._imgs").on('click', function(){
        //     _imgs = $(this)
        //     $.ajax({
        //         url: $(this).data('url'), //$(this).attr('data-url')
        //         type:'GET',
        //         success:function(resp){
        //             // alert(resp.count)
        //             _imgs.parent().parent().find('.downCount').text(resp.count)
        //              location.href="/download?idx="+resp.idx
        //         }
        //     })
        // })
    </script>


</body>
</html>